version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels: ["chore", "dependencies"]

  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    labels: ["chore", "dependencies"]
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    labels: ["chore", "dependencies"]
    commit-message:
      prefix: "chore(deps)"
